<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      h3 { color: #75AB00; }
      ul { list-style: none; }
    </style>
</head>
<body>
  <h3><%= @sender.username %> has invited you to try Todo-list application</h3>
</body>
</html>